<mat-form-field [appearance]="appearance" style="width: 100%;">
    <mat-label>{{label}}</mat-label>
    <input type="text" [formControl]="search" matInput [matAutocomplete]="auto" (focusin)="focusIn($event)" (focusout)="focusOut($event)">
    <mat-icon class="clear-ico" (click)="clearClick($event)" matSuffix>clear</mat-icon>

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectOption($event)">
        <mat-option *ngFor="let option of data | search:search.value:20" [value]="getValueByPath(option)">
            <span class="raw-title" *ngIf="rawTitle">
                ({{getValueByPath(option)}})
            </span>
            {{getTitleByPath(option)}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<!--<p>value: {{value | json}}</p>-->
