<pg-select
    [data]="array"
    valuePath="code"
    titlePath="name"
    [formControl]="first"
    [rawTitle]="true"
    appearance="outline"
></pg-select>
<!--Form control value: {{first.value | json}}<br>-->

<!--<pg-select
    [data]="array"
    titlePath="name"
    [formControl]="second"
></pg-select>
Form control value: {{second.value | json}}<br>

<pg-select
    [data]="arrayRaw"
    [formControl]="third"
></pg-select>
Form control value: {{third.value | json}}<br>

<button (click)="logValues()">Log values</button>-->
